[Unit]
Description=Libresonic
#After=network-online.target

[Service]
Type=simple

User=root
#Group=deluge
#UMask=007

ExecStart=/usr/bin/java -jar /home/pi/libresonic-v6.2.war

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target

